<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI.CoordinateSystems" version="1.7.5" targetFramework="net45" />
  <package id="GeoAPI.Core" version="1.7.5" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="NetTopologySuite" version="1.15.3" targetFramework="net45" />
  <package id="NetTopologySuite.CoordinateSystems" version="1.15.3" targetFramework="net45" />
  <package id="NetTopologySuite.Core" version="1.15.3" targetFramework="net45" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net45" />
</packages>